@import '~antd/dist/antd.css';
@import './fonts/HelveticaNeue/stylesheet.css';
@import './fonts/SFProDisplay/stylesheet.css';
@import './fonts/poppins-v15-latin/stylesheet.css';

body {
  margin: 0;
  font-family: -apple-system, 'Helvetica Neue', 'SF Pro Display', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

html {
  scroll-behavior: smooth;
}

html.scroll-behavior-auto {
  scroll-behavior: auto;
}

/* html body {
  overflow-y: auto !important;
  width: 100% !important;
} */

body.overflow-hidden {
  overflow-y: hidden;
}

#root {
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

p {
  margin-bottom: 10px;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

ul li,
ol li {
  list-style: none;
}

label {
  cursor: pointer;
}

input {
  padding: 10px;
}

button {
  outline: none;
  cursor: pointer;
  background: none;
  border: none;
}

.slick-prev:before,
.slick-next:before {
  content: '';
  display: block;
  width: 30px !important;
  height: 30px !important;
  background: url('./images/arrow.png') no-repeat;
  background-size: contain;
}

/* .slick-slide {
  display: flex !important;
  justify-content: center !important;
} */

.slick-prev {
  left: -50px;
}

.slick-next {
  right: -50px;
}

.slick-next:before {
  transform: rotateY(180deg);
}

.slick-dots {
  bottom: -40px !important;
}

.slick-track {
  display: flex !important;
  align-items: center;
  margin-left: unset; /* alighnemnt fix for quantity less than to show */
  margin-right: unset; /* alighnemnt fix for quantity less than to show */
}

/* default */

.certain-category-search {
  width: 274px !important;
  height: 40px !important;
  border: none !important;
  border-radius: 4px 0 0 4px !important;
}

.certain-category-search:focus {
  box-shadow: none !important;
}

.certain-category-search.ant-select-auto-complete .ant-input-affix-wrapper .ant-input-suffix {
  right: 12px;
}

.certain-category-search-dropdown .ant-select-dropdown-menu-item-group-title {
  color: #666;
  font-weight: bold;
}

.certain-category-search-dropdown .ant-select-dropdown-menu-item-group {
  border-bottom: 1px solid #f6f6f6;
}

.certain-category-search-dropdown .ant-select-dropdown-menu-item {
  padding-left: 16px;
}

.certain-category-search-dropdown .ant-select-dropdown-menu-item.show-all {
  text-align: center;
  cursor: default;
}

.certain-category-search-dropdown .ant-select-dropdown-menu {
  max-height: 300px;
}

.certain-search-item-count {
  position: absolute;
  color: #999;
  right: 16px;
}

.productPage-fullscreen-modal .ant-modal {
  padding-bottom: 0;
  top: 0;
  height: 100vh;
}

.productPage-fullscreen-modal .ant-modal-content {
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.ant-modal-centered .ant-modal {
  top: 60px;
  -ms-overflow-style: none;
}

.ant-modal-wrap.ant-modal-centered::-webkit-scrollbar {
  display: none;
}

.auth-modal-container .ant-modal {
  width: 404px !important;
  top: 5px !important;
}

.auth-modal-container .ant-modal {
  width: 404px !important;
  top: 5px !important;
}
@media (max-width: 767px) {
  .auth-modal-container .ant-modal {
    width: 100% !important;
    top: 0 !important;
    max-width: 100%;
    margin: 0;
  }

  .auth-modal-container .ant-modal-content {
    box-shadow: 0px 400px 0px rgb(255 255 255);
    min-height: 100vh;
  }
}

.ant-menu-vertical,
.ant-menu-submenu-active {
  border: none !important;
}

.ant-menu-horizontal {
  border-bottom: none;
  position: relative;
}

.ant-select-dropdown-menu-item.color {
  display: flex !important;
  align-items: center;
  font-family: 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #545454;
}

.ant-select-dropdown-menu-item.color.selected {
  font-weight: 700;
}

.ant-select-dropdown-menu-item.color::before {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 8px 0 0;
}

.ant-select-dropdown-menu-item.color.-pink::before {
  background: #db95d1;
}

.ant-select-dropdown-menu-item.color.-yellow::before {
  background: #f5d823;
}

.ant-select-dropdown-menu-item.color.-red::before {
  background: #f53023;
}

.ant-select-dropdown-menu-item.color.-grey::before {
  background: #969696;
}

.ant-select-dropdown-menu-item.color.-black::before {
  background: #000000;
}

.ant-select-dropdown-menu-item.color.-orange::before {
  background: #ff9900;
}

.ant-select-dropdown-menu-item.color.-green::before {
  background: #0eac00;
}

.ant-input {
  background: #fff;
  border: 1px solid #a7a7a7;
  box-sizing: border-box;
  border-radius: 2px;
  height: 40px;
}

.create-post-profile .ant-modal-content {
  border-radius: 8px;
}

.create-post-profile .ant-modal-close,
.create-post-profile .ant-modal-close .ant-modal-close-x {
  width: 24px;
  height: 24px;
  right: -28px;
  line-height: normal;
}

.leave-feedback-modal .ant-modal-content {
  overflow: hidden;
  border-radius: 8px;
}

.quick-view-modal .ant-modal-content {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.modal-animation {
  transition: opacity 0.3s;
}

.modal-animation.enter {
  opacity: 0;
}

.modal-animation.enter-done {
  opacity: 1;
}

.modal-animation.exit {
  opacity: 1;
}

.modal-animation.exit-done {
  opacity: 0;
}

.ScrollbarsCustom-Track.ScrollbarsCustom-TrackY {
  width: 4px !important;
  right: 4px !important;
  background-color: #ebebeb !important;
}

.thumbY {
  background: #9b9b9b !important;
}

.lds-spinner {
  color: #000;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 24px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 3px;
  left: 39px;
  width: 3px;
  height: 10px;
  border-radius: 20%;
  background: #8e8e93;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
